@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.container {
display: flex;
justify-content: space-evenly;
align-items: flex-start;
margin: auto;
position: relative;
}

.mini-container {
display: flex;
justify-content: space-evenly;
flex-direction: column;
margin: 20px;
padding: 20px;
background-color: rgb(226, 195, 147);
text-align: center;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#wrong {
  background-color: #ffcccc; /* Light red for wrong answers */
}

#correct {
  background-color: #ccffcc; /* Light green for correct answers */
}

.mini-header {
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(226, 195, 147);
  text-align: center;
  border-radius: 10px;
  width: 93%;
  margin-top: 10px;

}

.answer-space {
  background-color: (226, 195, 147);
  width: auto; /* Or a fixed width, depending on your design */
  height: 20px; /* Or a fixed height, as needed */
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  margin-bottom: 20px;
  border-radius: 15px;
  clear: both;
}

.radio-buttons li {
  list-style: none; /* Removes bullet points */
}


li {
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #FFFDD0;
  border-radius: 15px;
  display: flex;
  width: 100%;
  padding: 2px;
}

button.newdrink {
  margin: 10px;
  width: auto;
  text-align: center;
}

button.submit {
  margin: auto;
}

.drink-container {
  display: flex;
  justify-content: space-between;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: rgba(138, 98, 12, 0.942);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 10px;
}

.title {
  display: inline-block;
  margin-bottom: 0;
}

.title-container {
  text-align: left;
  margin-bottom: 20px;
}

img {
  width: 5em;
}

h1 {
  font-size: 3.2em;
  font-weight: bold;
  line-height: 1;
  margin: 0 auto;
}

h2 {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}


/* 

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

